$masthead-menu-color: #fff !default;
$masthead-background: #000 !default;
$masthead-nav-color: #999 !default;

.masthead {
  background: $masthead-background;
  height: 42px;

  @media (min-width: $screen-sm) {
    height: 56px;
  }

  .bucketActive &,
  .catsActive & {
    position: relative;
    z-index: 30;
  }
}

.masthead__brand {
  margin-left: 10px;
  float: left;
  height: 100%;
  padding: 3px 0;

  @media (min-width: $screen-sm) {
    margin-left: 20px;
    padding: 4px 0;
  }

  @media (min-width: $screen-lg) {
    margin-left: 28px;
  }

  img {
    display: inline-block;
    max-height: 36px;

    @media (min-width: $screen-sm) {
      max-height: 48px;
    }
  }
}

.masthead__list {
  // @include user-select(none);

  color: $masthead-menu-color;
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: right;
  line-height: 42px;
  text-transform: uppercase;

  @media (min-width: $screen-sm) {
    line-height: 56px;
  }

  & > li {
    display: inline-block;
  }

  .item--join {
    display: none;

    @media (min-width: $screen-sm) {
      display: inline-block;
    }
  }

  .link--join {
    @include button-base();
    @include button-style(gold);
    color: #000000;
    height: 36px;
    line-height: 36px;
    padding: 0 20px;
    margin: 0;
    font-size: 11px;

    @media (min-width: $screen-lg) {
      height: 42px;
      line-height: 42px;
      vertical-align: bottom;
    }
  }

  .item--login {
    display: none;
    @media (min-width: $screen-lg) {
      display: inline-block;
    }
  }

  .link--login {
    @include button-base();
    @include button-style($secondary-color);
    vertical-align: bottom;
    margin: 0 28px 0 2px;
    min-width: 220px;
    text-align: left;
    font-size: 11px;
    height: 42px;
    line-height: 42px;
    padding: 0 20px;

    .fa {
      line-height: inherit;
      float: right;
    }
  }

  .item--menu {
    @media (min-width: $screen-lg) {
      display: none;
    }

    a, span {
      display: block;
      padding: 0 10px;

      @media (min-width: $screen-sm) {
        padding:0 20px;
      }

      @media (min-width: $screen-lg) {
        margin-right: 28px;
      }
    }

    i {
      margin-left: .5em
    }
  }

  .button {
    margin: 0;
  }
}

.masthead__nav {
  color: $masthead-nav-color;
  list-style: none;
  float: left;
  margin: 0;
  font-size: 12px;

  & > li {
    display: none;

    @media (min-width: $screen-sm) {
      &.new-models {
        display: inline-block;
      }
    }

    @media (min-width: $screen-lg) {
      display: inline-block;
    }
  }

  a, span {
    line-height: 56px;
    padding: 0 10px;
    text-transform: uppercase;

    @media (min-width: $screen-lg) {
      font-size: 11px;
      text-transform: none;
    }
  }
}
