.thumbnails__container {
  @include clearfix();
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 16px;
  z-index: 0;

  @media #{$media-lg} {
    padding-top: 0;
    overflow: visible;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }

  @media #{$media-xl} {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.thumbnails {
  $padding: 4px;
  @include block-grid(2, $padding);

  @media (min-width: $screen-xs) {
    @include block-grid(3, $padding);

    // Weird ipad percentage issue was making these mis-aligned, so I floated
    // them right
    & > li:nth-child(3n) {
      float: right;
    }
  }

  @media (min-width: $screen-md) {
    @include block-grid(4, $padding);

    & > li:nth-child(3n) {
      float: left;
    }
  }

  @media (min-width: $screen-lg) {
    @include block-grid(5, $padding);
  }

  @media (min-width: $screen-xl) {
    @include block-grid(6, $padding);
  }

  @media (min-width: $screen-2x) {
    @include block-grid(7, $padding);
  }
}

.thumbnails__online {
  position: absolute;
  top: 0;
  right: 10px;
  margin: 0;
  color: #222222;
  font-weight: 200;


  @media #{$media-sm} {
    right: 20px;
    font-size: .9em;
  }

  @media #{$media-lg} {
    left: 2.5%;
    top: auto;
    bottom: 100%;
  }

  @media #{$media-xl} {
    left: 5%;
  }
}

.thumbnails__title {
  position: absolute;
  top: 0;
  left: 10px;
  margin: 0;
  color: #222222;

  @media #{$media-sm} {
    left: 20px;
    font-size: 1.4em;
  }

  @media #{$media-lg} {
    display: none;
  }
}

.thumbnail__img {
  position: relative;
  background: #777777;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
  }

  .fpo {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    margin: 0;
    -webkit-transform: translateY(-50%);
    opacity: 0.1;
    font-size: 40px;
  }

  .bottom {
    position: absolute;
    bottom: 0;
    height: 24px;
    width: 100%;
    background: rgba(#000000, 0.1);
    color: rgba(#000000, 0.2);
    line-height: 24px;
    padding-left: 12px;
  }

  &::after {
    display: block;
    content: '';
    padding-top: 75%;
  }
}
