$tricorder-border-color: #999999 !default;

.tricorder {
  position: relative;

  .nav-tabs {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    min-height: 42px;

    @media #{$media-md} {
      @include grid-column(3, $collapse: true);
    }

    @media #{$media-lg} {
      @include grid-column(2.5, $collapse: true);
    }

    li {
      position: absolute;
      padding-bottom: 20px;
      width: 100%;
      display: none;

      @media #{$media-md} {
        position: relative;
        padding: 0 0 1px 0;
        display: list-item;
      }

      &.active {
        display: list-item;

        a {
          background: darken(lightblue, 10%);
        }
      }
    }

    a {
      line-height: 42px;
      padding: 0 0 0 (42px / 2);
      background: lightblue;
      display: block;

      &:hover {
        background: darken(lightblue, 10%);
      }
    }
  }

  .tab-content {
    @media #{$media-md} {
      @include grid-column(9, $last-column: true);
    }

    @media #{$media-lg} {
      @include grid-column(7.5);
    }
  }

  .tab-pane {
    display: none;
    
    &.active {
      display: block;
    }
  }
}

.tricorder__select {
  position: relative;
  z-index: 10;
  width: 100%;

  @media #{$media-md} {
    display: none;
  }

  select {
    -webkit-appearance: none;
    width: 100%;
    height: 42px;
    line-height: 42px;
    opacity: 0;
    position: absolute;
  }
  
  .display {
    position: absolute;
    width: 100%;
    height: 42px;
    line-height: 42px;
  }
}

.tricorder__aside {

  @media #{$media-md} {
    @include grid-column(9, $offset: 3);
  }

  @media #{$media-lg} {
    @include grid-column(2, $offset: 0);
    padding-right: 0;
  }

  &.assistance {
    display: none;

    @media #{$media-lg} {
      display: block;
    }
  }
}
