$tricorder-border-color: #999999 !default;

.tricorder {
  position: relative;

  .nav-tabs {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    min-height: 42px;

    @media #{$media-md} {
      @include grid-column(3);
    }

    @media #{$media-lg} {
      @include grid-column(2.5);
    }

    li {
      position: absolute;
      padding-bottom: 20px;
      width: 100%;
      display: none;

      @media #{$media-md} {
        padding: 0 0 1px 0;
        display: list-item;
      }

      &.active {
        display: list-item;
      }
    }

    a {
      line-height: 42px;
      padding: 0 0 0 (42px / 2);
      background: lightblue;
      display: block;

      &:hover {
        background: darken(lightblue, 10%);
      }
    }
  }

  .tab-content {
    @media #{$media-md} {
      @include grid-column(9, $last-column: true);
    }

    @media #{$media-lg} {
      @include grid-column(7.5);
    }
  }

  .tab-pane {
    display: none;
    
    &.active {
      display: block;
    }
  }

  aside {
    @media #{$media-md} {
      @include grid-column(9, $offset: 3);
    }

    @media #{$media-lg} {
      @include grid-column(2, $offset: 0);
    }
  }

  .select
}
