.wunderbar {
  @include clearfix();
  position: relative;
  background: crimson;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 42px;
  z-index: 30;

  .bucketActive & {
    z-index: 0;
  }

  @media #{$media-sm} {
    background: lightblue;
    height: 56px;
  }


  .free {
    position: absolute;
    top: 100%;
    width: 100%;
    text-align: center;
    z-index: 10;

    @media #{$media-sm} {
      display: none;
    }
  }
}

.wunderbar__container {
  position: relative;
  @media #{$media-lg} {
    z-index: 50
  }
}

.wunderbar__center {
  display: none;
  height: 56px;
  overflow: hidden;

  @media #{$media-lg} {
    display: block;
  }
}

// Not a %placeholder_class because they don't expand through media queries.
@mixin wunderbar__link {
  @include user-select(none);
  display: block;
  text-transform: uppercase;
  line-height: 42px;
  padding: 0 10px;

  @media #{$media-sm} {
    line-height: 56px;
    padding: 0 20px;
  }

  .caret {
    float: right;
    margin-left: 20px;
  }
}

.wunderbar__link {
  @include wunderbar__link;
  float: right;
  display: none;
  border-color: rgba(#000000, 0.3);
  font-size: 12px;

  @media #{$media-sm} {
    display: block;
  }

  .link & {
    border-left: 1px solid;
  }

  .last-sm & {
    @media #{$media-sm} {
      margin-right: 20px;
      border-right: 1px solid;
    }

    @media #{$media-lg} {
      margin-right: 0;
      border-right: 0;
    }
  }

  .last-md & {
    display: none;
    border-right: 1px solid;

    @media #{$media-lg} {
      display: block;
      margin-right: 28px;
    }
  }

}

.wunderbar__link--categories {
  @include wunderbar__link;
  float: left;
  color: #ffffff;

  @media #{$media-sm} {
    background: crimson;
    width: 260px;
  }

  @media #{$media-md} {
    padding: 0 20px;
  }

  @media #{$media-lg} {
    padding: 0 28px;
  }

  .icon {
    float: left;
    margin-right: .5em;

    @media #{$media-lg} {
      display: none;
    }
  }

  .caret {
    display: none;

    @media #{$media-sm} {
      display: block;
    }
  }
}

.wunderbar__link--filters {
  @include wunderbar__link;
  float: right;
  color: #ffffff;

  @media #{$media-sm} {
    display: none;
  }

  .icon {
    float: right;
    margin-left: .5em;
  }
}

.wunderbar__link--free {
  @include button-base();
  @include button-style(gold);
  @include wunderbar__link;
  color: black;
  width: 300px;
  margin: 6px auto 0;
}
