.bucket(ng-class="{'bucketActive': !!bucketActive, 'catsActive': !!catsActive}")
  article.bucket__article
    include _masthead
    include _wunderbar
    include _cats
    .tanker
      include _thumbnails
    .bucket__shield(ng-click="bucketActive = !bucketActive")

  aside.bucket__aside
    ul.bucket__nav
      //- Logged out
      li.bucket__form
        span.clearfix
          label Email
          input(type="text" placeholder="someone@example.com")
          label Password
          input(type="password" placeholder="••••••••••••")

          .button.success.expand.small.bottom(style="margin-bottom:0") Login

      li: a <i class="fa fa-lock fa-fw"></i> Forgot Password?
      li.item--new: a <i class="fa fa-magic fa-fw"></i> New Models
      li: a <i class="fa fa-calendar fa-fw"></i> Calendar
      li: a <i class="fa fa-phone fa-fw"></i> Support
      li: a <i class="fa fa-question fa-fw"></i> FAQ's
      li: a
        i.fa.fa-flag.fa-fw
        | Site Language
        i.pull-right.fa.fa-chevron-down

      //- Logged in.
      //- li: a <i class="fa fa-user fa-fw"></i> BigTigsLover
      //- li: a <i class="fa fa-envelope fa-fw"></i> Mail Messages
      //- li: a <i class="fa fa-heart fa-fw"></i> My Favorites
      //- li: a <i class="fa fa-clock-o fa-fw"></i> Recent Purchase
      //- li: a <i class="fa fa-check fa-fw"></i> Daily Spending Limit
      //- li: a <i class="fa fa-user fa-fw"></i> My Account

      //- li: a <i class="fa fa-rocket fa-fw"></i> Eventual Tour Link

      li.bucket__cta
        a
          i.fa.fa-star.fa-fw
          | JOIN FREE TODAY
          p Create your FREE account now, it takes only a few moments.

    footer.bucket__footer
      //- p.small
        ul.inline-list
          li: img(src="http://placehold.it/88x31&text=RTA")
          li: img(src="http://placehold.it/88x31&text=ASACP")

      p.small All models appearing on this website are 18 years or older.
      p.small: a 18 U.S.C. 2257 Record-Keeping Requirements Compliance Statement
      p.small.legal
        a DMCA Notice of Copyright Infringement
        br
        a Terms &amp; Conditions
        |&nbsp;|&nbsp;
        a Privacy Policy
