.cats__container(ng-controller="categories" ng-class="{'open': !!catsActive}" set-height ng-style="catsStyle()")
  .cats(get-height)
    ul.cats__list
      li(ng-repeat="cat in categories")
        {{cat.names.text}} {{cat.counts.text}}
