.cats__container(ng-controller="categories" ng-class="{'open': !!catsActive}" set-height ng-style="catsStyle()")
  .cats(get-height)
    form.cats__form
      .cats__search
        input(type="text")
    ul.cats__list
      li(ng-repeat="cat in categories")
        a.cats__link
          .pull-right
            | {{cat.counts.text | stripLive}}
            i.fa.fa-chevron-right
          | {{cat.names.text}}
