.masthead
  .masthead__brand: img(src="http://placehold.it/379x88&text=LOGO")

  ul.masthead__list
    li.item--join: a.link--join Free Acount
    li.item--menu: a.link--menu(ng-click="bucketActive = !bucketActive") Menu &nbsp; <i class="fa fa-bars"></i>
    li.item--login: a.link--login Login <i class="fa fa-caret-down fa-lg"></i>

  ul.masthead__nav
    li: a Home
    li: a New Models
    li: a Calendar
    li: a Support
    li: a Site Language
