.oracle__container(ng-class="{'toggle': !!oracleActive}")
  a.oracle__toggle(ng-click="oracleActive = !oracleActive")
    i.fa.fa-lg(ng-class="{true: 'fa-times', false: 'fa-search'}[!!oracleActive]")

  .oracle__title Live Sex Cams
  .oracle__search
    input(type="text")

