.thumbnails__container(ng-controller="thumbnails")
  h5.thumbnails__online 1420 Models Online
  h5.thumbnails__title Live Sex Cams
  ul.thumbnails
    li.thumbnail(ng-repeat="t in thumbnails")
      .thumbnail__img
        img(ng-src="{{t.thumb.src}}")
        h1.fpo F.P.O.
        .bottom {{t.thumb.alt}}
