ul.wonderbar
  li.free
    a.wonderbar__link--free
      | Free Account

  li
    a.wonderbar__link--categories
      .caret: i.fa.fa-caret-down
      .icon: i.fa.fa-search
      | Categories
    //- Categories

  li
    a.wonderbar__link--filters
      .icon: i.fa.fa-filter
      | Filters
    //- Filters

  li.link.last-md
    a.wonderbar__link
      | Popularity
      .caret: i.fa.fa-caret-down

  li.link.last-sm
    a.wonderbar__link
      | Region
      .caret: i.fa.fa-caret-down

  li.link
    a.wonderbar__link
      | Language
      .caret: i.fa.fa-caret-down

  li.link
    a.wonderbar__link
      | Features
      .caret: i.fa.fa-caret-down

  li
    .wonderbar__center
      include _oracle
