nav.wunderbar__container
  ul.wunderbar
    li.free
      a.wunderbar__link--free
        | Free Account

    li
      a.wunderbar__link--categories(ng-click="catsActive = !catsActive")
        .caret: i.fa.fa-caret-down
        .icon: i.fa.fa-search
        | Categories

    li
      a.wunderbar__link--filters(dropdown-toggle)
        .icon: i.fa.fa-filter
        | Filters
      //- Filters

    li.link.last-md
      a.wunderbar__link(dropdown-toggle)
        | Popularity
        .caret: i.fa.fa-caret-down

    li.link.last-sm
      a.wunderbar__link(dropdown-toggle)
        | Region
        .caret: i.fa.fa-caret-down

    li.link
      a.wunderbar__link(dropdown-toggle)
        | Language
        .caret: i.fa.fa-caret-down

    li.link
      a.wunderbar__link(dropdown-toggle)
        | Features
        .caret: i.fa.fa-caret-down

    li
      .wunderbar__center
        include _oracle
