doctype html
meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, \
  user-scalable=no, minimal-ui")

link(rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
link(rel="stylesheet" href="/app.css")

script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.js")
script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-touch.js")
script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-cookies.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.0/fastclick.min.js")
script(src="/app.js")

body(ng-app="helm")
  include jade/_bucket

  //- script.
    window.addEventListener('load', function() {
        FastClick.attach(document.body);
    }, false);
