!!! html
link(rel='stylesheet' href='overview.css')
script(src='http://code.jquery.com/jquery-1.11.0.js')

main
  .container
    .ipad.portrait
      iframe(src="threemate" seamless)

  .container
    .ipad.landscape
      iframe(src="threemate")

script(src="overview.js")
