@import "bower_components/normalize-css/normalize.css";

$include-html-classes: false;
$include-html-button-classes: true;
$include-html-form-classes: true;
$include-html-inline-list-classes: true;
@import "bower_components/foundation/scss/foundation";

@import "sass/_variables";
@import "sass/_globals";
@import "sass/_bucket";
@import "sass/_masthead";
@import "sass/_wunderbar";
@import "sass/_thumbnails";
@import "sass/_oracle";
@import "sass/_cats";
@import "sass/_tricorder";
