!!! html
link(rel='stylesheet' href='threemate.css')
script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.js')
script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-animate.js')
script(src='//rawgit.com/durated/angular-scroll/master/angular-scroll.js')
script(src='threemate.js')

body(ng-app='helm')
  .container(ng-controller='thumb')
    li(ng-repeat='thumb in thumbs' ng-class='{true: "selected"}[selected === $index]')
      .thumb(ng-click='thumbClick($index, $event)')
        img(ng-src='{{thumb.thumb.src}}')

      .space(ng-class='{"open":selected === $index}') {{thumb.name.text}}
