.tanker.static
  .tricorder
    tabset
      tab(heading="Contact Information"): div(ph-txt="10p")
      tab(heading="Payment Information"): div(ph-txt="10p")
      tab(heading="Personal Profile"): div(ph-txt="10p")
      tab(heading="Daily Spending Limit"): div(ph-txt="10p")
      tab(heading="Password"): div(ph-txt="10p")
      tab(heading="Email Preferences"): div(ph-txt="10p")
      tab(heading="Options"): div(ph-txt="10p")

    aside
      button.large.expand Save Settings
