.tanker.static
  .tricorder(ng-controller="tricorder")

    .tricorder__select: select(ng-model="data.activeTab" tabset-select)
      option(value="cinfo") Contact Information
      option(value="updatecard") Payment Information
      option(value="profile") Personal Profile
      option(value="limits") Daily Spending Limit
      option(value="pass") Password
      option(value="email") Email Preferences
      option(value="siteoptions") Options

    tabset(tabset-select-active)
      tab(heading="Contact Information" select="setOption('cinfo')")
        div(ph-txt="10p")

      tab(heading="Payment Information" select="setOption('updatecard')")
        div(ph-txt="10p")

      tab(heading="Personal Profile" select="setOption('profile')")
        div(ph-txt="10p")

      tab(heading="Daily Spending Limit" select="setOption('limits')")
        div(ph-txt="10p")

      tab(heading="Password" select="setOption('pass')")
        div(ph-txt="10p")

      tab(heading="Email Preferences" select="setOption('email')")
        div(ph-txt="10p")

      tab(heading="Options" select="setOption('siteoptions')")
        div(ph-txt="10p")

    aside.tricorder__aside.assistance
      h3(style="margin-top: 0") Needs Assistance
      ul.fa-ul
        li
          i.fa.fa-envelope.fa-li
          | Email

        li
          i.fa.fa-phone.fa-li
          | Phone

        li
          i.fa.fa-comment.fa-li
          | Chat

    aside.tricorder__aside
      button.expand Save Settings
