.tanker.static
  .tricorder(ng-controller="tricorder")

    .select: select(ng-model="data.activeTab" dan-select)
      option(value="cinfo") Contact Information
      option(value="updatecard") Payment Information
      option(value="profile") Personal Profile
      option(value="limits") Daily Spending Limit
      option(value="pass") Password
      option(value="email") Email Preferences
      option(value="siteoptions") Options

    tabset(dan-tabset)
      tab(heading="Contact Information" select="setOption('cinfo')")
        div(ph-txt="10p")

      tab(heading="Payment Information" select="setOption('updatecard')")
        div(ph-txt="10p")

      tab(heading="Personal Profile" select="setOption('profile')")
        div(ph-txt="10p")

      tab(heading="Daily Spending Limit" select="setOption('limits')")
        div(ph-txt="10p")

      tab(heading="Password" select="setOption('pass')")
        div(ph-txt="10p")

      tab(heading="Email Preferences" select="setOption('email')")
        div(ph-txt="10p")

      tab(heading="Options" select="setOption('siteoptions')")
        div(ph-txt="10p")

    aside
      button.large.expand Save Settings
